.rbm-activity {
    padding: 10px;
    border-bottom: 1px solid #9e9e9e;

    // .rbm-activity.rbm-activity--plus
    &.rbm-activity--plus {
        .rbm-activity__amount {
            color: #4CAF50;
        }
    }

    // .rbm-activity.rbm-activity--minus
    &.rbm-activity--minus {
        .rbm-activity__amount {
            color: #F44336;
        }
    }

    // .rbm-activity__label
    &__label {
        display: block;
    }

    // .rbm-activity__amount
    &__amount {
        text-align: right;
    }

    // .rbm-activity__delete
    &__delete {
        display: none;

        .rbm-activity:hover & {
            display: block;
        }
    }

    .row {
        align-items: center;
    }
}